body {
	background-color: #FF97E7;
}

.container {
	font-family: 'Archivo Narrow', sans-serif;
}

.crystal-icon {
	height: 100px;
	width: 100px;
}

.target-number {
	font-size: 40px;
}

.score-board-wrapper {
	border: 1px solid black;
	border-radius: 5px;
	width: 25%;
}

.title {
	font-size: 50px;
	font-family: 'Kodchasan', sans-serif;
}

.crystal-wrapper button {
	height: 100px;
	width: 100px;
	background-size: cover;
	margin: 10px;
	background-color: transparent;
	transition: transform .2s;
}

.crystal-wrapper button:hover {
	transform: scale(1.15);
}

.crystal-wrapper {
	display: flex;
}

#crystal-one {
	background-image: url('../images/blueGem.png');
}

#crystal-two {
	background-image: url('../images/greenGem.png');
}

#crystal-three {
	background-image: url('../images/orangeGem.png');
}

#crystal-four {
	background-image: url('../images/redGem.png');
}