body {
	background-color: #FF97E7;
}

.container {
	font-family: 'Archivo Narrow', sans-serif;
}

.jumbotron {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 15px;
}

.crystal-icon {
	height: 100px;
	width: 100px;
}

.display-number {
	font-size: 60px;
}

.score-board-wrapper {
	border-radius: 5px;
	width: 25%;
	float: right;
}

.title {
	font-size: 50px;
	font-family: 'Kodchasan', sans-serif;
}

.crystal-wrapper button {
	height: 60px;
	width: 60px;
	background-size: cover;
	margin: 10px;
	background-color: transparent;
	transition: transform .2s;

	/* @media (min-width: 768px) {
		height: 100px;
		width: 100px;
	} */
}

.crystal-wrapper button:hover {
	transform: scale(1.15);
}

.crystal-wrapper {
	display: flex;
}

#crystal-one {
	background-image: url('../images/blueGem.png');
}

#crystal-two {
	background-image: url('../images/greenGem.png');
}

#crystal-three {
	background-image: url('../images/orangeGem.png');
}

#crystal-four {
	background-image: url('../images/redGem.png');
}